/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    /*font-family: 'Helvetica', 'Arial', sans-serif;*/
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 320px;
}

/**/
.melaude-header h1{
    font-size: 48px;
    margin: 90px 0 60px 42px;
}

div.page-header{
    font-family: 'Dosis', sans-serif;
    background: url('/images/bg-1920x1080-medium.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    min-height: 100%;
    margin:0;
    border: none;
}

span, .header-content h2 span, div a{
    color: #2ec2bd;
}

.header-content h2{
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

.row.melaude-info, .melaude-header{
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    width: 75%;
}

.header-content{
    border-radius: 3px;
    color: #c6c6cf;
    background-color: rgba(80,80,80,0.2);
    padding: 50px 30px 50px 40px;
}

#message{
    color: #fff;
    border-bottom: 3px solid;
    border-color: #2ec2bd;
    position: relative;
    left: -40px;
    display: inline-block;
}

.message-wrapper{
    display: inline-block;
}

.header-content span{
    color: #c6c6cf;
    font-weight: 600;
    line-height: 1.3em;
}

form{
    margin-top: 10px;
}

input, button{
    border-radius: 3px;
    padding: 10px 15px;
}

.header-content div input{
    background-color: transparent;
    border: solid 1px #fff;
    margin-right: 30px;
    color: #fff;
}

.bar{
    background-color: #2ec2bd;
    width: 100%;
    height: 10px;
    margin: 0 0 100px;
}

.row.melaude-info{
    text-align: center;
}

.melaude-info span{
    font-weight: 600;
}

.description{
    margin-bottom: 60px;
    font-size: 25px;
}
.features h4{
    color: #4b4c54;
}
.features{
    margin-bottom: 60px;
    color: #747684;
}
div.feature-inner{
    width:96%;
    border: 1px solid #e8e8eb;
    border-radius: 3px;
    height: 280px;
    padding: 30px 10px;
    font-weight: 500;
}

div button{
    color: #fff;
    border: none;
    background: #2ec2bd;
    font-weight: 700;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
}
.bottom{
    font-family: 'Dosis', sans-serif;
    background-color: #4b4c54;
    margin-top: 100px;
}
.feedback{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #fff;
    padding: 40px 0 1px;
}
.hello{
    
}
.press{
    margin: 15px 0 40px;
}
small{
    display: block;
    color: #ababad;
    margin: 25px 0 25px;
}

small a{
    color: #ababad;
}


/*-----FX------*/
a:visited{
    color: #2ec2bd;
}

small a:visited{
    color: #ababad;
}

button:hover{
    background-color: #ff8f79;
}

#message{
    animation: fadein 3s normal infinite;
    -webkit-animation: fadein 3s normal infinite, move 3s infinite;
    -moz-animation: fadein 3s normal infinite;
    -o-animation: fadein 3s normal infinite;
}

.features{
    animation: fadein 3s normal;
    -webkit-animation: fadein 3s normal;
    -moz-animation: fadein 3s normal;
    -o-animation: fadein 3s normal;
}
@keyframes fadein{
    0%{ opacity: 0; }
    75%{ opacity: 0.25; }
    100%{ opacity: 1; }
}
@-webkit-keyframes fadein{
    0%{ opacity: 0; }
    75%{ opacity: 1;}
    100%{ opacity: 1; }
}
@-moz-keyframes fadein{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 1; }
}
@-o-keyframes fadein{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 1; }
}
@-webkit-keyframes move {
    0% { transform: translateX(0px); }
    50%{ transform: translateX(40px); }
    100%{ transform: translateX(40px); }
}

/*-----media queries-----*/
@media only screen and (max-width: 541px){
    form input{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px){
    div.feature-inner{
        height: 360px;
    }

    .melaude-header h1{
        margin: 90px 0 60px 20px;
    }

    .header-content{
        padding: 50px 50px 50px 25px;
    }
    .header-content h2{
        font-size: 27px;
    }
}

@media only screen and (max-width: 360px){
    div.feature-inner{
        height: 335px;
    }

    #global-auditions div.feature-inner{
        height:305px;
    }
}
